<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/d207e753-d007-4385-957a-8a9d7e7414eb/resourcegroups/mini-e-ticaret/providers/Microsoft.Web/sites/ETicaretAPIAPI20250219185320</ResourceId>
    <ResourceGroup>mini-e-ticaret</ResourceGroup>
    <ApiResourceId>/subscriptions/d207e753-d007-4385-957a-8a9d7e7414eb/resourceGroups/mini-e-ticaret/providers/Microsoft.ApiManagement/service/ETicaretAPIAPIapi/apis/ETicaretAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>false</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://eticaretapiapi20250219185320.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>ec20b2d8-3c0b-4983-8352-7102849b696f</ProjectGuid>
    <MSDeployServiceURL>eticaretapiapi20250219185320.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ETicaretAPIAPI20250219185320</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$ETicaretAPIAPI20250219185320</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>